.service-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#map-form {
  display: flex;
}

#map-form > section {
  vertical-align: middle;
  margin: auto 0;
}

#map-form a {
  height: 100%;
}

#map-form form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

#map-form .title {
  margin-bottom: 25px;
  margin-top: 0;
}

#map-form input,
textarea {
  margin: 0 auto;
  width: 285px;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#map-form input:focus {
  border-color: #6e8095;
  outline: none;
}

#map-form textarea:focus {
  border-color: #6e8095;
  outline: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

.send-button {
  width: 285px;
  text-align: center;
  margin: 0 auto;
  margin-top: -25px;
}

#honey-im-home {
  opacity: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

#honey-im-home input {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 850px) {
  #map-form {
    flex-direction: column-reverse;
    justify-content: center;
  }

  #map-form fieldset {
    margin: 0 auto;
  }

  #map-form > section {
    margin: 20px auto;
  }
}

@media screen and (max-width: 650px) {
  #map-form > form {
    width: 100%;
  }

  .resource-list {
    display: block;
  }
}

@media screen and (max-width: 415px) {
  #map-form > section {
    margin: 10px auto;
    width: 300px;
    text-align: center;
  }

  #map-form > section > a {
    margin: 0 auto;
  }

  #google-map {
    width: 50%;
    margin: 0 auto;
  }
}
